<div class="container p-4">
    <div class="row">
        {{#each data}}
        <div class="col-md-3">
            <div class="card ">
                <div class="card-body">
                    <h3 class="card-title text-center text-info">
                        Información del bono
                    </h3>
                    <p>Motivo: <span>{{motivo}}</span></p>
                    <P>Cantidad: {{cantidad}}</P>
                    <p>Fecha de salida: <span>{{fecha_bono}}</span></p>
                </div>
            </div>
        </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No existen bonos registrados</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>