<main class="index">
    <header class=" masthead d-flex">
        <div class="container text-center my-auto">
            {{!-- <img src="/img/logo.jpg" class="img-log" alt=""> --}}
            <h1 class="color-title mb-1">Farmacia Central Moravia</h1>
            <h3 class="color-phrase mb-5"><em>Tu medico a distancia</em></h3>
            <a class="btn-index btn btn-success" href="/signin">Ingresar</a>
        </div>
    </header>
</main>