body{
    background: #f5f5f5;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    overflow-y: auto;
    font-size: 1.1em;
    /* background: url('/img/background.png'); */
}
body.smooth_scroll {
    overflow-y: hidden;
}
a:link{
text-decoration:none;
}
.index{
    width: 100vw;
    height: 100vh;
}
.masthead{
    color: white;
    min-width: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 0rem;
    background: url('/img/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.masthead h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: #95B754;
}
.masthead h3 {
    color: snow;
    font-size: 2.5rem;
}
.jumbo{
    background: #02194B;
    color: snow;
    font-size: 1.5rem;
}
.jumbo-danger{
    background: rgb(165, 4, 4);
    color: snow;
    font-size: 1.5rem;
}
.jumbo-secomdary{
    background: #95B754;
    color: snow;
    font-size: 1.5rem;
}
.btn-principal{
    background-color:#95B754;
    color: snow;
}
.btn-principal:hover{
    background-color:#95B754;
    color:  rgb(3, 39, 117);
}
.btn-secomdary{
    background-color:rgb(67, 68, 66);
    color: snow;
}
.btn-index{
    padding: 0.5em 0.8em;
    border-radius: 15%;
}
.bg-dark{
    background-color: #02194B!important;
}
.bg-dark{
    color: snow!important;

}
.btn-op{
    width: 50%;

}
@media (min-width: 992px) {
    .masthead h1 {
        font-size: 5.5rem;
    }
}