<div class="container p-4">
     <div class="p-4"></div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-header jumbo">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input type="text" name="cedula" maxlength="10"class="form-control" placeholder="cédula" class="form-control" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre" maxlength="90" class="form-control" placeholder="nombre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="p_apellido"  maxlength="90"  class="form-control" placeholder="primer apellido" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="s_apellido"  maxlength="90"  class="form-control" placeholder="segundo apellido" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="correo"  maxlength="150"  class="form-control" placeholder="correo" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="clave"  maxlength="50"  class="form-control" placeholder="contraseña" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-principal btn-block">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div  >
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/registro.js">
</script>